/*** Button ***/
.btn {
    --btn-border-radius: .3em;
    --btn-border-width: 2px;
    --btn-padding: calc(2rem - var(--btn-border-width));

    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    min-width: 6rem;
    min-height: 6rem;
    padding: var(--btn-padding);
    margin-bottom: 0;
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: var(--btn-border-width) solid transparent;
    border-radius: 0;
    user-select: none;
    cursor: pointer;
    transition: color .18s ease-in-out, background-color .18s ease-in-out, border-color .18s ease-in-out, box-shadow .18s ease-in-out;

    &:hover:not(:disabled) {
        margin-top: -1px;

        &.btn-shadowed {
            box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .2);
        }
    }

    &:active {
        box-shadow: none;
    }

    &:focus {
        outline: none !important;
    }

    &:disabled {
        cursor: default;
        opacity: .7;
        box-shadow: none;
    }
}

/*** Shadowed ***/
.btn-shadowed {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2) !important;
}

/*** Rounded ***/
.btn-rounded {
    border-radius: var(--btn-border-radius) !important;
}

/*** Bordered ***/
.btn-bordered {
    background-color: transparent !important;
    box-shadow: none !important;
}

/*** Primary ***/
.btn,
.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}

.btn-bordered,
.btn-primary.btn-bordered {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

/*** Secondary ***/
.btn-secondary {
    background-color: var(--color-secondary);

    &.btn-bordered {
        color: var(--color-secondary);
        border-color: var(--color-secondary);
    }
}

/*** Accent ***/
.btn-accent {
    background-color: var(--color-accent);

    &.btn-bordered {
        color: var(--color-accent);
        border-color: var(--color-accent);
    }
}
