@mixin bar($height: auto, $gap: 0, $padding: 0) {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: $height;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: $gap;
    align-items: center;

    > * {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
    }

    > :first-child {
        justify-self: start;
        padding-left: $padding;
    }

    // TODO: > :nth-child(2) {}

    > :last-child:not(:first-child) {
        justify-self: end;
        padding-right: $padding;
    }
}
