@mixin navbar($height, $gap, $padding) {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: $height;
    grid-gap: 0 $gap;
    align-content: center;
    align-items: center;

    > * {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
    }

    > :first-child {
        padding-left: $padding;
        justify-self: start;
    }

    > :last-child:not(:first-child) {
        padding-right: $padding;
        justify-self: end;
    }
}
