@import 'variables';
@import 'reset';
@import 'card';
@import 'tab';
@import 'themes/default';
@import 'debug';

/*** Root ***/
#root {
    min-height: 100vh;
}

/*** Responsive ***/
@media only screen {
    @media (orientation: landscape) {
        ._marker:after {
            content: "landscape"
        }
    }

    @media (orientation: portrait) {
        ._marker:after {
            content: "portrait"
        }
    }
}

/* 16/9...16/16 */
@media only screen and (orientation: landscape) and (max-aspect-ratio: 16/9) {
}

/* =16/9...16/1 */
@media only screen and (orientation: landscape) and (min-aspect-ratio: 16/9) {
}

@media only screen and (orientation: landscape) and (min-aspect-ratio: 17/9) {
}

/* 2/1 */
@media only screen and (orientation: landscape) and (min-aspect-ratio: 18/9) {
}

@media only screen and (orientation: landscape) and (min-aspect-ratio: 19/9) {
}

@media only screen and (orientation: landscape) and (min-aspect-ratio: 20/9) {
}

@media only screen and (orientation: landscape) and (min-aspect-ratio: 21/9) {
}


/*** Desktop ***/
@media only screen and (max-height: 700px) and (orientation: landscape) {
    html {
        font-size: 7px;
    }
}


/*** Mobile ***/
@media only screen and (max-width: 600px) and (orientation: portrait) {
}

@media only screen and (max-width: 500px) {
}

@media only screen and (max-width: 400px) {
}
