@import '../../scss/mixins/bar';

.app-header {
    background-color: var(--color-primary);
    color: white;
    z-index: var(--zindex-header);
    @include bar(var(--app-header-height), 1rem /*, var(--app-layout-gutter)*/
    );

    > :first-child {
        padding-left: var(--app-layout-gutter);
    }

    > :last-child:not(:first-child) {
        padding-right: var(--app-layout-gutter);
    }

    .logo {
        height: 3.5em;
        margin-right: 2rem;
        pointer-events: none;
    }

    .title {
        font-size: 4rem;
        font-weight: 500;
        margin: 0;
    }
}
