.app-header {
    background-color: var(--color-primary);
    color: white;
    display: grid;
    grid-template-columns: 60px 50px auto 50px 60px;
    z-index: 50;
}

.app-header-logo {
    height: 8vmin;
    pointer-events: none;
}
