// <Navbar title="Dashboard" color="secondary" sticking shadowed/>
@import '../../scss/mixins/bar';

.navbar {
    z-index: var(--zindex-header);
    @include bar(var(--app-header-height), 1rem, var(--app-layout-gutter));

    .title {
        font-size: 3rem;
        font-weight: 500;
        margin: 0;
    }
}

/*** Tabbed ***/


/*** Sticking ***/
.navbar-sticking {
    position: sticky;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
}

/*** Shadowed ***/
.navbar-shadowed {
    box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, .3);
}

/*** Primary ***/
.navbar,
.navbar-primary {
    background-color: var(--color-primary);
    color: white;
}

/*** Secondary ***/
.navbar-secondary {
    background-color: var(--color-secondary);
}
