.tab {
    overflow: hidden;
}

.tab-item {
    color: inherit;
    line-height: 1;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: color .18s ease-in-out, background-color .18s ease-in-out, border-color .18s ease-in-out, box-shadow .18s ease-in-out;

    &:hover {
        background-color: rgba(0, 0, 0, .1);
        border-bottom-color: rgba(255, 255, 255, .75);
    }

    &.active {
        border-bottom-color: white;
    }
}
