.table {
    --table-bg: transparent;
    --table-color: #222;
    --table-border-color: #ddd;
    --table-striped-bg: rgba(0, 0, 0, 0.05);
    --table-hover-bg: rgba(0, 0, 0, 0.075);
    --table-active-bg: rgba(0, 0, 0, 0.1);

    --table-font-size: 2rem;
    --table-gutter: 3.5rem;
    --table-gutter-min: 2rem;
    --table-border-width: 1px;

    color: var(--table-color);
    width: 100%;
    vertical-align: top;
    caption-side: bottom;
    border-collapse: collapse;

    th {
        text-align: inherit;
        text-align: -webkit-match-parent;
    }

    > :not(caption) {
        > tr > * {
            font-size: var(--table-font-size);
            line-height: 1;
            padding-right: var(--table-gutter);
            padding-left: var(--table-gutter);
            background-color: var(--table-bg);
        }

        > :not(:only-child):not(:last-child) > * {
            border-bottom-color: var(--table-border-color);
        }
    }

    > :not(:only-child):not(:last-child) > :last-child > * {
        border-bottom-color: var(--table-color);
    }

    > thead,
    > tfoot {
        > tr > * {
            padding-top: var(--table-gutter-min);
            padding-bottom: var(--table-gutter-min);
        }
    }

    > thead {
        vertical-align: bottom;
    }

    > tbody {
        vertical-align: inherit;

        > tr > * {
            padding-top: var(--table-gutter);
            padding-bottom: var(--table-gutter);
        }
    }

    > tfoot {
        vertical-align: top;
    }

    > thead > tr > *,
    > tbody > tr > *,
    > tfoot > :not(:only-child):not(:last-child) > * {
        border-bottom-width: var(--table-border-width);
        border-bottom-style: solid;
    }
}
