@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /*** Color ***/
    --color-primary: #036647;
    --color-secondary: #7ba63d;
    --color-accent: #725ac1;

    --color-success: #3fa34d;
    --color-warning: #ffcf4b;
    --color-error: #ea526f;

    --color-grey: #f1f1f1;
    --color-grey-dark: #aeaeae;
    --color-grey-light: #fafafa;
}
