:root {
    /* Layout */
    --html-font-size: .5em; /* 8px */

    --app-layout-padding: 7rem;
    --app-header-height: 11rem;

    --app-navbar-height: 11rem;
    --app-tab-height: 8.5rem;

    /* Z-index */
    --zindex-body: 1;
    --zindex-app: 10;
    --zindex-main: 20;
    --zindex-content: 30;
    --zindex-sidebar: 40;
    --zindex-header: 50;

    --zindex-dropdown: 1000;
    --zindex-sticky: 2000;
    --zindex-fixed: 3000;
    --zindex-modal-backdrop: 4000;
    --zindex-offcanvas: 5000;
    --zindex-modal: 6000;
    --zindex-popover: 7000;
    --zindex-tooltip: 8000;
}
