@import 'variables';
@import 'reset';
@import 'themes/default';

/*** Root ***/
#root {
    min-height: 100vh;
}

/*** Card ***/
.card {
    --card-border-width: 1px;
    --card-border-radius: .5rem;
    --card-padding: calc(5rem - var(--card-border-width));

    background-color: white;
    border: var(--card-border-width) solid var(--color-light);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, .3);

    > :only-child,
    > :not(:only-child):first-child {
        margin-top: 0;
    }

    > :only-child,
    > :not(:only-child):last-child {
        margin-bottom: 0;
    }
}

/*** Block ***/
.block {
    padding: 4rem var(--app-layout-padding);
}
